# Виртуальное окружение
venv/
env/
.venv/
.env
.env.local
.env.*.local

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.sqlite3

# База данных (если используете SQLite)
db.sqlite3

# Файлы с локальными настройками и секретами
.env
local_settings.py
settings.py

# Статические файлы (они собираются отдельно)
staticfiles/
static/
media/